---
import "../styles/variables.css"

const platform = "github";
const username = "MadelinFg";
---

<style>
    footer{
        display: flex;
        justify-content: center;
        margin: 0;
        border-top: 1px solid var(--grey);
    }
</style>

<footer>
    <p>
        Learn more about my projects on
        <a href={`https://www.${platform}.com/${username}`} target="_blank"
            >{platform}</a
        >!
    </p>
</footer>
